<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <span>name: {{ name }}</span>
    <input type="text" v-model="name">
    <span>更多: {{ more.like }}</span>
    <input type="text" v-model="more.like">
  </div>

  <script>
    class Vue {
      constructor(obj_instance) {
        this.$data = obj_instance.data;
        Observer(this.$data);
        Compiler(obj_instance.el, this);
      }
    }

    function Observer(data_instance) {
      if (!data_instance || typeof data_instance !== 'object') return;

      const dependency = new Dependency();

      Object.keys(data_instance).forEach(key => {
        let value = data_instance[key];

        Observer(value);

        Object.defineProperty(data_instance, key, {
          enumerable: true,
          configurable: true,
          get() {
            Dependency.temp && dependency.addSub(Dependency.temp);
            return value;
          },
          set(newValue) {
            value = newValue;
            Observer(newValue);
            dependency.notify();
          },
        });
      });
    };

    function Compiler(el, vm) {
      vm.$el = document.querySelector(el);

      const fragment = document.createDocumentFragment();

      let child;
      while (child = vm.$el.firstChild) fragment.append(child);

      fragment_compile(fragment);

      function fragment_compile(node) {
        const pattern = /\{\{\s*(\S+)\s*\}\}/;

        if (node.nodeType === 3) {
          const {
            nodeValue
          } = node;

          const result_regexp = pattern.exec(node.nodeValue);

          if (result_regexp) {
            const [, strTemplate] = result_regexp;
            const arr = strTemplate.split('.');
            const value = arr.reduce((total, curr) => total[curr], vm.$data);

            node.nodeValue = nodeValue.replace(pattern, value);

            new Watcher(vm, strTemplate, newValue => {
              node.nodeValue = nodeValue.replace(pattern, newValue);
            });
          }
          return;
        }

        if (node.nodeType === 1 && node.nodeName === 'INPUT') {
          const attrs = Array.from(node.attrs);

          attrs.forEach(i => {
            if (i.nodeName === 'v-model') {
              const value = i.nodeValue.split('.').reduce((total, curr) => total[curr], vm.$data);

              node.value = value;
              new Watcher(vm, i.nodeValue, newValue => {
                node.value = newValue;
              });

              node.addEventListener('input', e => {
                const arr1 = i.nodeValue.split('.');
                const arr2 = arr1.slice(0, arr1.length - 1);
                const finalAttr = arr2.reduce((total, curr) => total[curr], vm.$data);
                finalAttr[arr1[arr1.length - 1]] = e.target.value;
              });
            }
          });
        }

        node.childNodes.forEach(child => fragment_compile(child));
      }

      vm.$el.appendChild(fragment);
    };

    class Watcher {
      constructor(vm, key, callback) {
        this.vm = vm;
        this.key = key;
        this.callback = callback;

        Dependency.temp = this;

        key.split(',').reduce((total, curr) => total[curr], vm.$data);
        Dependency.temp = null;
      }

      update() {
        const value = this.key.split(',').reduce((total, curr) => total[curr], vm.$data);
        this.callback(value);
      }
    }

    class Dependency {
      constructor() {
        this.subscribe = [];
      }

      addSub(sub) {
        this.subscribe.push(sub);
      }

      notify() {
        this.subscribe.forEach(sub => sub.update());
      }
    }

    const vm = new Vue({
      el: '#app',
      data: {
        name: 'fatewang',
        more: {
          like: 'sleep',
        }
      },
    });
  </script>

</body>

</html>